body {
	background: #021738;			/*Цвет фона - темно-синий*/		
	font-size: 15px;				/*Размер шрифта - 15 пикс*/
	font-family: Arial;				/*Семейство шрифтов - Ариал*/
	color: white;					/*Цвет шрифта - белый*/
}

p {	
	text-align: left;				/*Выравнивание текста по левому краю*/
	text-indent: 10px;				/*Отступ в начале абзаца - 10 пикс*/
}

p.visible {
	overflow: visible;				/*Видимое переполнение - содержимое продолжает отображаться за пределами контейнера*/
	height: 100px;					/*Высота элемента - 100 пикс*/
	background: aqua;				/*Цвет фона - бирюзовый*/	
}

p.auto {
	overflow: auto;					/*Автоматическое переполнение - скролл содержимого при необходимости*/
	height: 100px;					/*Высота элемента - 100 пикс*/
	background: yellow;				/*Цвет фона - желтый*/	
}

p.hidden {
	overflow: hidden;				/*Скрытое переполнение - содержимое за пределами контейнера скрывается*/
	height: 100px;					/*Высота элемента - 100 пикс*/
	background: red;				/*Цвет фона - красный*/	
}

p.scroll {
	overflow: scroll;				/*Переполнение с прокруткой - скролл содержимого*/
	height: 100px;					/*Высота элемента - 100 пикс*/
	background: lime;				/*Цвет фона - салатовый*/	
}

p::first-letter {
	font-size: 120%;				/*Размер первой буквы абзаца - 120%*/
	color: #1f3877;					/*Цвет шрифта - темно-синий*/
}

p.about {	
	text-align: left;				/*Выравнивание текста по левому краю*/
	text-indent: 10px;				/*Отступ в начале абзаца - 10 пикс*/
	color: maroon;					/*Цвет шрифта - бордовый*/
}

p.about::first-letter {
	font-size: 120%;				/*Размер первой буквы абзаца - 120%*/
	color: red;						/*Цвет шрифта - красный*/
}

p.aboutvisible {
	overflow: visible;				/*Видимое переполнение - содержимое продолжает отображаться за пределами контейнера*/
	height: 40px;					/*Высота элемента - 40 пикс*/
	width: 150px;					/*Высота элемента - 150 пикс*/
	background: aqua;				/*Цвет фона - бирюзовый*/	
}

p.aboutauto {
	overflow: auto;					/*Автоматическое переполнение - скролл содержимого при необходимости*/
	height: 40px;					/*Высота элемента - 40 пикс*/
	width: 150px;					/*Высота элемента - 150 пикс*/
	background: yellow;				/*Цвет фона - желтый*/	
}

p.abouthidden {
	overflow: hidden;				/*Скрытое переполнение - содержимое за пределами контейнера скрывается*/
	height: 40px;					/*Высота элемента - 40 пикс*/
	width: 150px;					/*Высота элемента - 150 пикс*/
	background: red;				/*Цвет фона - красный*/	
}

p.aboutscroll {
	overflow: scroll;				/*Переполнение с прокруткой - скролл содержимого*/
	height: 40px;					/*Высота элемента - 40 пикс*/
	width: 150px;					/*Высота элемента - 150 пикс*/
	background: lime;				/*Цвет фона - салатовый*/	
}

a:link {
	color: #346ac1;					/*Цвет шрифта - темно-голубой*/
	text-decoration: underline;		/*Подчеркивание текста*/
}

a:visited {
	color: #6283d6;					/*Цвет шрифта - бледно-голубой*/
	text-decoration: underline;		/*Подчеркивание текста*/
}

a:active {
	color: #80ff80;					/*Цвет шрифта - бледно-зеленый*/
	text-decoration: underline;		/*Подчеркивание текста*/
}

a:hover {
	color: #00cc00;					/*Цвет шрифта - зеленый*/
	text-decoration: underline;		/*Подчеркивание текста*/
}

div.shell {
	position: absolute;				/*Абсолютная позиция - расположение элемента относительно последнего предка или вьюпорта*/
	left: 5%;						/*Отступ слева - 5% ширины*/
	right: 5%;						/*Отступ справа - 5% ширины*/
	top: 0;							/*Отступ сверху - 0*/
	bottom: 0;						/*Отступ снизу - 0*/
	margin: 5px;					/*Зазор по кругу - 5 пикс*/
	margin-bottom: 20px;			/*Зазор снизу - 20 пикс*/
	margin-top: 20px;				/*Зазор сверху - 20 пикс*/
	width: 90%;						/*Ширина элемента - 90% ширины предка/вьюпорта*/
}

div.head {
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
}

div.main {
 	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
	background-color: white;		/*Цвет фона - белый*/
}

div.header {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	top: 0;							/*Отступ сверху - 0*/
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
	background-color: #346ac1;		/*Цвет фона - голубой*/
	font-family: "BankGothic Md BT";/*Семейство шрифтов - BankGothic Md BT*/
	font-weight: bold;				/*Полужирный шрифт*/
	color: white;					/*Цвет шрифта - белый*/
	text-align: center;				/*Выравнивание текста(содержимого) по центру*/
	font-size: 45px;				/*Размер шрифта - 45 пикс*/
	padding-top: 5px;				/*Внутренний отступ сверху - 5 пикс*/
	padding-bottom: 5px;			/*Внутренний отступ снизу - 5 пикс*/
	border-bottom: 4px;				/*Нижняя граница - 4 пикс*/
	border-bottom-style: solid;		/*Стиль нижней границы - цельный цвет*/
	border-color: #e0e8ff;			/*Цвет границы - светлый металик*/
}

div.subheader {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	top: 0;							/*Отступ сверху - 0*/
	left: 0;						/*Отступ слева - 0*/
	right: 0;						/*Отступ справа - 0*/
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/					
	background-color: #a9b3cc;		/*Цвет фона - металик*/
	font-family: "BankGothic Md BT";/*Семейство шрифтов - BankGothic Md BT*/
	color: white;					/*Цвет шрифта - белый*/
	text-align: center;				/*Выравнивание текста(содержимого) по центру*/
	font-size: 25px;				/*Размер шрифта - 25 пикс*/
	padding-top: 3px;				/*Внутренний отступ сверху - 3 пикс*/
	padding-bottom: 3px;			/*Внутренний отступ снизу - 3 пикс*/
	border-bottom: 2px;				/*Нижняя граница - 2 пикс*/
	border-bottom-style: solid;		/*Стиль нижней границы - цельный цвет*/
	border-color: #7a7a7a;			/*Цвет границы - темно-серый*/

}

div.contents {
	display: table;					/*Расположение по шаблону таблицы*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
	background-color: white;		/*Цвет фона - белый*/
}

div.side {
	display: table-cell;			/*Расположение по шаблону ячейки таблицы*/
	width: 20%;						/*Ширина элемента - 20% ширины предка/вьюпорта*/
	background-color: #efefef;		/*Цвет фона - светло-серый*/
	font-size: 15px;				/*Размер шрифта - 15 пикс*/
	color: black;					/*Цвет шрифта - черный*/
	padding: 5px;					/*Внутренний отступ по кругу - 5 пикс*/
	padding-left: 10px;				/*Внутренний отступ слева - 10 пикс*/
}

div.center {
	display: table-cell;			/*Расположение по шаблону ячейки таблицы*/
	width: 60%;						/*Ширина элемента - 60% ширины предка/вьюпорта*/
	top: 0;							/*Отступ сверху - 0*/
	left: 20%;						/*Отступ слева - 20% ширины предка/вьюпорта*/
	right: 20%;						/*Отступ справа - 20% ширины предка/вьюпорта*/
	background-color: white;		/*Цвет фона - белый*/
	font-size: 15px;				/*Размер шрифта - 15 пикс*/
	color: black;					/*Цвет шрифта - черный*/
	border-left: 1px;				/*Левая граница - 1 пикс*/
	border-right: 1px;				/*Правая граница - 1 пикс*/
	border-left-style: solid;		/*Стиль левой границы - цельный цвет*/
	border-right-style: solid;		/*Стиль правой границы - цельный цвет*/
	border-color: #7a7a7a;			/*Цвет границы - темно-серый*/
	padding: 5px;					/*Внутренний отступ по кругу - 5 пикс*/
	padding-left: 10px;				/*Внутренний отступ слева - 10 пикс*/
	padding-right: 10px;			/*Внутренний отступ справа - 10 пикс*/	
}

div.footer {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	bottom: 0;						/*Отступ снизу - 0*/
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
	background-color: #1b1e26;		/*Цвет фона - темный металик*/
	font-family: "BankGothic Md BT";/*Семейство шрифтов - BankGothic Md BT*/
	color: white;					/*Цвет шрифта - белый*/
	text-align: center;				/*Выравнивание текста(содержимого) по центру*/
	font-size: 20px;				/*Размер шрифта - 20 пикс*/
	padding-top: 3px;				/*Внутренний отступ сверху - 3 пикс*/
	padding-bottom: 3px;			/*Внутренний отступ снизу - 3 пикс*/
	border-top: 2px;				/*Верхняя граница - 2 пикс*/
	border-top-style: solid;		/*Стиль левой границы - цельный цвет*/
	border-color: #7a7a7a;			/*Цвет границы - темно-серый*/
}

ul.links {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: -40px;					/*Отступ слева - (-40 пикс)*/
	list-style-type: none;			/*Маркеры списка - пустые*/
}

#brands {
	width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
	border-collapse: collapse;		/*Слияние соседних границ в одну*/
}

#brands td, #brands th {
	border: 1px solid #7a7a7a;		/*Граница - 1 пикс, цельный цвет, темно-серый*/
	padding: 3px;					/*Внутренний отступ по кругу - 3 пикс*/
	color: black;					/*Цвет шрифта - черный*/	
}

#brands tr:nth-child(even) {
	background-color: #eeeeee;		/*цвет фона - светло-серый*/
}

#brands tr:hover {
	background-color: #cccccc;		/*цвет фона - серый*/	
}

#brands th {
    padding-top: 5px;				/*Внутренний отступ сверху - 5 пикс*/
    padding-bottom: 5px;			/*Внутренний отступ снизу - 5 пикс*/
    text-align: left;				/*Выравнивание текста по левому краю*/
    background-color: #346ac1;		/*Цвет фона - голубой*/
    color: white;					/*Цвет шрифта - белый*/
}	

h2.header {
	text-align: center;				/*Выравнивание текста(содержимого) по центру*/
	color: #346ac1;					/*Цвет шрифта - голубой*/
	font-family: "BankGothic Md BT";/*Семейство шрифтов - BankGothic Md BT*/
}

div.floatleft {
	float: left;					/*Обтекание текстом с выравниванием по левому краю*/
    width: 500px;					/*Ширина контейнера - 500 пикс*/
}

div.floatright {
	float: right;					/*Обтекание текстом с выравниванием по правому краю*/
    width: 500px;					/*Ширина контейнера - 500 пикс*/
}

#fit {
	width: 500px;					/*Ширина контейнера - 500 пикс*/
}

div.floatpic {
	float: left;					/*Обтекание текстом с выравниванием по левому краю*/
    width: 310px;					/*Ширина контейнера - 310 пикс*/
    margin-right: 10px;				/*Зазор справа - 10 пикс*/
    margin-left: 10px;				/*Зазор слева - 10 пикс*/
}

div.gallery {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
    margin: 5px;					/*Зазор по кругу - 5 пикс*/	
    border: 1px solid #ccc;			/*Граница - 1 пикс, цельный цвет, серый*/
    width: 100%;					/*Ширина элемента - 100% ширины предка/вьюпорта*/
    height: 220px;					/*Высота контейнера - 220 пикс*/
}

div.gallery:hover {
    border: 1px solid #777;			/*Граница - 1 пикс, цельный цвет, серый*/
    background-color: #cccccc;		/*Цвет фона - серый*/
}

div.gallery img {
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
    width: 98%;						/*Ширина элемента - 98% ширины предка/вьюпорта*/
    height: 90%;					/*Высота элемента - 90% высоты предка/вьюпорта*/
    padding: 1%;					/*Внутренний отступ по кругу - 1%*/
}

#zindex1 {
	z-index: 1;						/*Позиция Z - 1*/
	width: 300px;					/*Ширина элемента - 320 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: 60px;						/*Отступ слева - 50 пикс*/
	margin: 10px;
}

#zindex2 {
	z-index: 0;						/*Позиция Z - 0*/
	width: 300px;					/*Ширина элемента - 320 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: -60px;					/*Отступ слева - (-50 пикс)*/
	top: -20px;						/*Отступ сверху - (-20 пикс)*/
	margin: 10px;
}

#zindex3 {
	z-index: 0;						/*Позиция Z - 0*/
	width: 300px;					/*Ширина элемента - 320 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	top: -40px;						/*Отступ сверху - (-40 пикс)*/
	left: -60px;					/*Отступ слева - (-50 пикс)*/
	margin: 10px;
}

#logobg1 {
	z-index: 0;						/*Позиция Z - 0*/
	width: 100px;					/*Ширина элемента - 100 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: 100px;					/*Отступ слева - 100 пикс*/
}

#logobg2 {
	z-index: 0;						/*Позиция Z - 0*/
	width: 100px;					/*Ширина элемента - 100 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	right: 100px;					/*Отступ справа - 100 пикс*/
}

#logomg1 {
	z-index: 1;						/*Позиция Z - 1*/
	width: 120px;					/*Ширина элемента - 120 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: 50px;						/*Отступ слева - 50 пикс*/
}

#logomg2 {
	z-index: 1;						/*Позиция Z - 1*/
	width: 120px;					/*Ширина элемента - 120 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	right: 50px;					/*Отступ справа - 50 пикс*/
}	

#logofg {
	z-index: 2;						/*Позиция Z - 2*/
	width: 150px;					/*Ширина элемента - 150 пикс*/
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
}

#fitz {
	width: 600px;					/*Ширина контейнера - 600 пикс*/
	border: thin solid green;		/*Граница - тонкая, цельный цвет, салатовый*/
}

#fitzindex {
	width: 600px;					/*Ширина контейнера - 600 пикс*/
	z-index: 1;						/*Позиция Z - 1*/				
	position: relative;				/*Относительная позиция - расположение элемента относительно его исходного расположения*/
	left: 20px;						/*Отступ слева - 20 пикс*/
	bottom: 360px;					/*Отступ слева - 360 пикс*/
	border: thin solid lime;		/*Граница - тонкая, цельный цвет, зеленый*/
}