<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Master Language="C#" %>
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
<asp:ContentPlaceHolder id="head" runat="server">
</asp:ContentPlaceHolder>
</head>

<body>

<form id="form1" runat="server">
	<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
		<p><img src="CuDLNqmWEAEJzGe.jpg" alt="Tower, Desert fox tower..." />
		<img src="http://assets.teamrock.com/image/59ea2b6e-6178-42c7-9295-c8ba4478280e?w=800" alt="Just a sign, nothing to see here" />
		</p>
	</asp:ContentPlaceHolder>
</form>

</body>

</html>
